flair
torch==1.4.0
pandas==0.25.3
numpy==1.14.5
keras==2.3.1
skorch==0.7.0
matplotlib==3.1.2
adabound==0.0.5
seaborn==0.9.0
bert-embedding==1.0.1
pytorch-pretrained-bert==0.6.2
transformers==2.3.0
tensorflow
requests==2.22.0
sklearn
plotly==4.5.0